# 最小闭环

:::{figure-md}
![tux](images/tux.png)

 __*正在构思中......*__
:::
